.postContainer{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1em;
    height: auto;
    width: 55rem;
    margin: 3rem 0;
    box-shadow: 4px 24px 40px #cccccc;


}

a:link, a {
    text-decoration: none;
    &:visited {
        color: inherit;
    }
}

.postContainerHeader {
    display:flex;
    align-items: center;
}

.postContainerTitle {
    margin-left: 1rem;
    text-align: start;
    text-transform:capitalize;
    font-size: 1.25rem
}

.postDescription {
    margin-top: 2rem;
    word-wrap: wrap;
}